.cards {
    padding: 4rem;
    background: #fff;
}

.h1 {
    text-align: center;
    justify-content: center;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards__items {
    margin-bottom: 24px;
}

.cards__item__info {
    padding: 20px 30px 30px;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 10px;
}

@media only screen and (min-width:1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width:1024px) {
    .cards__items {
        display: flex;
    }
}

@media only screen and (max-width:1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}

.cards__item__pic-wrap {
    position: relative;
    width: 50%;
    overflow: hidden;
    /* padding-top: 67%; */
}

.cards__item__pic-wrap:after{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
} 
.pic-and-text{
    display: flex;
    flex-direction: row;
}